<!DOCTYPE html>
<html lang="ko">
<body>
    <table class="videoTable">
        <tr>
            <td class="videoTitle"><m2B>Plus Minus (2019)</m2B></td>
        </tr>
        <tr>
          <td style="text-align : center">
            <!-- <img src="images/pf_04.gif" class="videoPortrait"/> -->
            <iframe width="100%" height="408" max-width="720" src="https://www.youtube.com/embed/29auefg8uwg" title="PlusMinus" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
          </td>
        </tr>
        <tr>
          <td class="videoLandscapeSpec">
            <img class="code" src="/images/platform_s.png"><m4 class="codeString"> - Android</m4>
            <img class="code" src="/images/team_s.png"><m4 class="codeString"> - One</m4>
            <img class="code" src="/images/duration_s.png"><m4 class="codeString"> - 10 Weeks</m4>
            <img class="code" src="/images/engine_s.png"><m4 class="codeString"> - Unity</m4>
          </td>
        </tr>
        <tr>
            <td class="videoLandscapeText">
                <m3 style="word-break: break-all">
                  This game was created with the aim of making a puzzle game that is simple
                  in rules but requires continuous thinking. The goal is to create the target
                  number by adding same-colored tiles and subtracting different-colored tiles,
                  according to the quest provided. The game is designed with a stage system,
                  and the main focus is on generating revenue through advertisements.
                </m3>
            </td>
        </tr>
        <tr>
          <td class="videoCodeSample">
            <a href="https://github.com/roki1004/PlusMinus" target="_blank">▶ Code Link to github</a>
          </td>
        </tr>
    </table>
</body>
</html>