<!DOCTYPE html>
<html lang="ko">
<body>
    <table class="videoTable">
        <tr>
          <td class="videoTitle"><m2B>VR Escape from space (2025)</m2B></td>
        </tr>
        <tr>
          <td style="text-align : center">
            <!-- <img src="images/pf_03.gif" class="videoPortrait"/> -->
            <iframe width="100%" height="408" max-width="720" src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7316417576270532608?compact=1" title="VR Escape from space" frameborder="0" scrolling="no" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
          </td>
        </tr>
        <tr>
          <td class="videoLandscapeSpec">
            <img class="code" src="/images/platform_s.png"><m4 class="codeString"> - VR Meta Quest</m4>
            <img class="code" src="/images/team_s.png"><m4 class="codeString"> - Seven</m4>
            <img class="code" src="/images/duration_s.png"><m4 class="codeString"> - 3 Months</m4>
            <img class="code" src="/images/engine_s.png"><m4 class="codeString"> - Unity</m4>
          </td>
        </tr>
        <tr>
            <td class="videoLandscapeText">
              <m3 style="word-break: break-all">
                I designed the in-game flow structure and focused primarily on communication with Firebase. 
                Operating in a unique environment that relied solely on Firebase, 
                I worked to minimize server costs by reducing the number of packet transmissions while maintaining smooth project performance.
                <br>
                A key part of this work involved optimizing data flow to ensure efficient and reliable interactions with Firebase. 
                After the initial development, I also handled live maintenance, including updates to Firebase assets and ongoing system stability improvements.
              </m3>
            </td>
        </tr>
    </table>
</body>
</html>