<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Portfolio</title>
	<style type="text/css">
	</style>
	<link href="CSSS.css" rel="stylesheet" type="text/css">
</head>

<body>
	<header class="Info">
		<div class="Title"><h1>Chi Yol Kim</h1></div>
		<div class="Description"><h4>Game Developer</h4></div>
	</header>
	<header class="Introduce">
		<table width="50%" border="0" class="IntroduceTable">
		  <tbody>
			<tr>
			  <td><img src="../Documents/Roki1004/HTML/ChiyolKim01.png" width="256" height="256" alt=""/></td>
			  <td><blockquote>
			    <h2 class="Paragraph"> Game developer who majored in graphic design and experienced both game designer and game programmer.
			      I have a passion and love for all aspects of game development.</h2>
		      </blockquote></td>
			</tr>
		  </tbody>
		</table>s
	</header>
</body>
</html>
